{% block editor_html %}

	<div id="file-markers">
		<ul>
		</ul>
	</div>

	<div id="editor-container">
		<div id="editor"></div>
		<div id="editor-handle"> </div>
	</div>

{% endblock %}

{% block editor_javascript %}

	console.log(code_for_langs);

	// set default stuff for the ace editor
	var editor = ace.edit("editor");
	editor.$blockScrolling = Infinity;
	editor.setTheme("ace/theme/xcode");
	
	/* MULTIPLE EDITOR TAB OPTIONS */
	// ACE Session
	var EditSession = ace.require("ace/edit_session").EditSession;
	var UndoManager = ace.require("ace/undomanager").UndoManager;
	var ace_sessions = [];	
    var file_names = [];
	var curr_session;

	// not working
	{% if not result_route and not edit_route %}
	editor.commands.addCommand({
		name: "replace",
		bindKey: {win: "Ctrl-S", mac: "Command-S"},
		exec: function() {
			updateTrial();
		}
	});
	{% endif %}
	
	// file tabs
	$('#file-markers').tabs();	
	
	function addAddFileButton(){

		{% if not edit_route and not problem.allow_multiple %}
		return;
		{% endif %}
		
		$("#file-markers ul").append(
			"<li class='tabs' id='add-file-button' style='margin: 8px 0px; padding: 4px 10px; top: 7px'> &#xff0b; </li>"
		);
		
		$('#add-file-button').click(function() {
			addAceSession();
		}); 
		
		$('#trial-status').text('Unsaved changes...');
	}
	
	function removeAddFileButton(){
		
		{% if not edit_route and not problem.allow_multiple %}
		return;
		{% endif %}

		$('#add-file-button').remove();
	}
	
	function populateSessions(files, removedLastTab = false){
        if (removedLastTab) {
            clearAceSessions();
        }
        for(var i=0; i<files.length; i++){
            let file = files[i];
			addAceSession();
            let sessionIndex = i+1;
            if (removedLastTab) {
                ace_sessions.length - 1;
            }
            if (file.length !== undefined) {
                file = file[0];
                sessionIndex = ace_sessions.length - 1;
                isUploaded = true;
            }
    		editor.setSession(ace_sessions[sessionIndex]);
			
			try{
				editor.setValue(atob(file.contents), -1);
			} catch(e) {
				editor.setValue(file.contents, -1);
			}
            let fileName = file.name;
            for (let file_name of file_names) {
                if (file_name === fileName) {
                    fileName += " - Copy"                    
                }
            }
			
			$('#test-code-tab-user-'+(sessionIndex)+'-marker').find('a input').val(fileName);
			$('#test-code-tab-user-'+(sessionIndex)+'-marker').find('a input').attr('size', Math.max(5, fileName.length));
            file_names[sessionIndex] = fileName;
		}
	}
	
	function clearAceSessions(){
		ace_sessions = [];
        file_names = [];
		
		$('#file-markers ul li').remove();			
	}
	
	function removeAceSession(index){
		
		{% if not result_route and not edit_route %}
		removeAddFileButton();	
		{% endif %}
		
		var num_tabs = $("#file-markers ul li").length;
		
		if(num_tabs <= 1){
			currLanguage = $('#languageSelect option:selected').text();
			populateSessions(code_for_langs[currLanguage], true);
			setLanguage(currLanguage);
			$('#trial-status').text("Reset code to default code.");
			return;
		}
		
		$('.tabs').off('click');
		$('.tabs').off('contextmenu');
		$('.tabs').off('change');
		
		$('#test-code-tab-user-' + index + '-marker').remove();
		
		var temp_sessions = [];
        var temp_file_names = [];
		var mod = 0;
		var found = false;
		
		for(var i=1; i<ace_sessions.length; i++){
			
			if(i == index){
				found = true;
				continue;
			}
			
			if(found){
				mod = 1;
			}
			temp_sessions[i-mod] = ace_sessions[i];				
            temp_file_names[i-mod] = file_names[i];
            
		}
		
		ace_sessions = [];
		ace_sessions = temp_sessions;
        file_names = [];
        file_names = temp_file_names;
		
		$('.tabs').each( function(ind) {				
			$(this).attr('id', 'test-code-tab-user-'+(ind+1)+'-marker');	

			updateTabEvents($(this), ind+1);
		});
		
		{% if not result_route %}
		addAddFileButton();
		{% endif %}
		
		{% if not result_route and not edit_route %}
		updateTrial();
		{% endif %}
		
		
		var found = false;
		$('.tabs').each( function() {

			if($(this).hasClass('selected-tab')){
				found = true;
			}
		});
		
		if(!found){
			curr_session = 1;
			$('#test-code-tab-user-1-marker').click();
		}
	}
	
	function updateTabEvents(ui, ind){			
					
		ui.click(function(e) {
			$('.tabs').css('background', 'inherit');
			$('.tabs').css('border-top', '1px solid grey');				
			$('.tabs').css('border-left', '1px solid grey');				
			$('.tabs').css('border-right', '1px solid grey');				
			$('.tabs').css('border-bottom', 'inherit');
			$('.tabs').find('input').css('color', 'black');			
			$('.tabs').removeClass('selected-tab');
			
			$(this).css('background', '#71BAFF');
			$(this).css('border', '1px solid white');
			$(this).find('input').css('color', 'white');
			$(this).addClass('selected-tab');
			
			editor.setSession(ace_sessions[ind]);
			curr_session = ind;
		});
		
		{% if not result_route and not edit_route %}
		ui.contextmenu(function(e) {
			// right click
			removeAceSession(ind);
			return false;			
		});	

		ui.change(function(e) {
			$(this).find('a input').attr('size', $(this).find('a input').val().length);	

			{% if not result_route and not edit_route %}
			updateTrial();			
			{% endif %}
		});
		{% endif %}
	}
	
	function addAceSession(){
		
		removeAddFileButton();
		var num_tabs = $("#file-markers ul li").length + 1;

		{% if not result_route and not edit_route %}
		$("#file-markers ul").append(
			"<li class='tabs' id='test-code-tab-user-" + num_tabs + "-marker'><a>" 
				+ "<input class='tab-filename' readonly='true' {% if problem.allow_multiple %} ondblclick='this.readOnly=\"\";' onblur='this.readOnly=\"true\"' {% endif %} type='text' value='filename" + num_tabs + getFiletype() + "'></a>"
				+ '<input type="hidden" name="ACE" id="ACE' + num_tabs + '">'
			+ "</li>"
		);
		{% else %}
		$("#file-markers ul").append(
			"<li class='tabs' id='test-code-tab-user-" + num_tabs + "-marker'><a>" 
				+ "<input class='tab-filename' readonly='true' {% if problem.allow_multiple %} ondblclick='this.readOnly=\"\";' onblur='this.readOnly=\"true\"' {% endif %} type='text' value='filename" + num_tabs + ".file'></a>"
				+ '<input type="hidden" name="ACE" id="ACE' + num_tabs + '">'
			+ "</li>"
		);


		{% endif %}
		
		$('#test-code-tab-user-'+num_tabs+'-marker').find('a input').attr('size', 14);
		
		updateTabEvents($('#test-code-tab-user-' + num_tabs + '-marker'), num_tabs);

		var new_session = new ace.EditSession("");
		
		ace_sessions[num_tabs] = new_session;
		
		$('#test-code-tab-user-' + num_tabs + '-marker').click();
		editor.setTheme("ace/theme/xcode");
			
		new_session.on('change', function() {	
			
			{% if not result_route and not edit_route %}
				second++;
				if(second > 1){
					$('#trial-status').text("Unsaved changes...");
				}
			{% endif %}
				
			{% if not result_route and not edit_route %}
			clearInterval(trialUpdateTimer);
			trialUpdateTimer = setInterval(updateTrial, 5000);
			{% endif %}			
		});
		
		{% if not result_route %}
		addAddFileButton();
		{% endif %}
	}


	function codeUpdated(){

		var changed = false;

		var current_session = editor.getSession();
		for(var i = 1; i < ace_sessions.length; i++) {
			editor.setSession(ace_sessions[i]);		
			if(onloadValue[i] == null || editor.getSession().getValue() != onloadValue[i]){
				changed = true;	
			}
		}
		editor.setSession(current_session);	

		return changed;

	}

	var languageName;
	var languageExtension;
	var textFile = null;
	var filename;

	function downloadACECode() {

		var link = document.getElementById('download');
		link.style.display = 'block';

		// get the code from the editor
		var code = editor.getValue();
		link.href = makeTextFile(code);

		// get the filename from the tab
		filename = $(".selected-tab").find("a").find("input").val();

		// set that as the filename
		$("#download").attr( "download", filename);
	}

	// Create a text file from the given text
	function makeTextFile(text) {
		var data = new Blob([text], {type: 'text/plain'});
	
		// If we are replacing a previously generated file we need to
		// manually revoke the object URL to avoid memory leaks.
		if (textFile !== null) {
			window.URL.revokeObjectURL(textFile);
		}
	
		textFile = window.URL.createObjectURL(data);
	
		return textFile;
	};
	
{% endblock %}


{% block editor_setlanguage %}

	// Update the language for all files	
	
	if(!codeUpdated()){
		//populateSessions(code_for_langs[language]);

		var current_session = editor.getSession();
		for(var i = 1; i < ace_sessions.length; i++) {
			editor.setSession(ace_sessions[i]);	
			onloadValue[i] = editor.getSession().getValue();
			curr_session = i;
		}
		editor.setSession(current_session);
	}

	var current_session = editor.getSession();
	for(var i = 1; i < ace_sessions.length; i++) {
		editor.setSession(ace_sessions[i]);		
		editor.getSession().setMode("ace/mode/" + ace_modes[language]);
		curr_session = i;
	}
	editor.setSession(current_session);			

	
{% endblock %}


{% block editor_onready %}

	{% if trial %}				
	populateSessions(JSON.parse("{{trial.getFileContents()|json_encode|e('js')}}"));

	{% elseif not result_route and not edit_route %}
	populateSessions(code_for_langs[Object.keys(code_for_langs)[0]]);

	var current_session = editor.getSession();
	for(var i = 1; i < ace_sessions.length; i++) {
		editor.setSession(ace_sessions[i]);	
		onloadValue[i] = editor.getSession().getValue();
		curr_session = i;
	}
	editor.setSession(current_session);		

	{% endif %}

	{% if result_route and submission %}	
	var files = JSON.parse("{{submission.getSubmissionFileContents()|json_encode|e('js')}}");
	populateSessions(files);	
	
	$('#quick-edit-btn').button('enable');
	$('#edit-note').show();

	var current_session = editor.getSession();
	for(var i = 1; i < ace_sessions.length; i++) {
		editor.setSession(ace_sessions[i]);		
		editor.getSession().setMode("ace/mode/" + "{{submission.language.ace_mode}}");
		curr_session = i;
	}
	editor.setSession(current_session);		
	
	{% endif %}

{% endblock %}

{% block editor_onsubmission %}

var files = responseText['files'];					
populateSessions(files);

{% endblock %}


{% block editor_storecontentsinace %}

	for (var i = 1; i < ace_sessions.length; i++) {
		editor.setSession(ace_sessions[i]);
		
		var val = editor.getValue();
		var filename = $('#test-code-tab-user-' + i + '-marker').find('input').val();
		
		ACE.push({'filename': filename, 'content': val});
	}			
	editor.setSession(ace_sessions[curr_session]);

{% endblock %}
