{% block head %}
<title>Page Name</title>
{% endblock %}


{% block body %}

<p>This is the body of the HTML Page</p>

{% endblock %}


{% block stylesheets %}

<style>
    html, body {
        padding: 0px;
        margin: 0px;
    }
</style>

{% endblock %}


{% block scripts %}

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

{% endblock %}