{% block head %}
<title>Gradel | Assignments</title>
{% endblock %}


{% block body %}

<body>        
    
    <div class="topnav" id="myTopnav">
        <a href="../../../web/courses">Home</a>
        <a href="../../../web/">Account</a>
    </div>

    <section id="assignment-container">
        <h1>{{app.user.getFirstName()}}&#39;s {{course_number}} Assignments</h1>
        <ul>
            <li><a href="submit/1/1">Project 1</a></li>
            <li><a href="submit/2/1">Project 2</a></li>
            <li><a href="submit/3/1">Project 3</a></li>
        </ul>
    </section>
    
</body>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles.css') }}" />
<link rel="stylesheet" href="{{ asset('assignments.css') }}" />
{% endblock %}

{% block scripts %}

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}