<div class="card">
    <div class="btn-close" onclick="collapseCard({{ card_id }})"><span style="float: right">&#9660;</span></div>
    <div id="{{ card_id }}" class="card-contents">
        {{ card_contents }}
    </div>
</div>