.card {
    background-color: white;
    
	margin: 20px;
	margin-bottom: 5px;
    padding: 20px;
    	
	position: relative;
	
    -webkit-box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.64);
    -moz-box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.64);
    box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.64);
}

.card-contents {
    margin-top: 10px;
}

.parallel-cards > .card {
	width: auto;
	
	min-width: 200px;
	
	left: auto;
	transform: none;
	
}

#testcase-cards{	
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	
}

#testcase-cards form .file {
	width: 100%;
}

.parallel-cards > .testcase-card {
	width: 42%;
}

.serial-cards {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.parallel-cards {
	
	min-width: 870px;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	flex-wrap: wrap;

	position: relative;
	
	background: none;
}

.btn-close {
    /* float: right; */
    padding-bottom: 10px;
    border-bottom: 1px dotted #8DC26F;
	cursor: pointer;
}



@media (max-width: 1192px) {

	.parallel-cards > .testcase-card {
		width: 100%;
	}
}	

@media (max-width: 1192px) {

	.parallel-cards {
		flex-grow: 1;
	}

	.parallel-cards > .card {
		width: 100%;
	}
	
	.serial-cards {
		flex-direction: row;
		width: 100%;
		
	}
	
	.serial-cards > .card{
		flex-grow: 1;
	}
}