.card {
    background-color: white;
    
	margin: 30px;
	margin-bottom: 5px;
    padding: 20px;
    	
	position: relative;
	
    -webkit-box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.64);
    -moz-box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.64);
    box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.64);
}

.card-contents {
    margin-top: 10px;
}

.parallel-cards > .card {
	width: auto;
	
	min-width: 200px;
	
	left: auto;
	transform: none;
	
}

.parallel-cards > .testcase-card {
	width: 44%;
}

.parallel-cards {
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	flex-wrap: wrap;

	position: relative;	
	left: 50%;
	transform: translateX(-50%);
	
	background: none;
}

.


.btn-close {
    /* float: right; */
    padding-bottom: 10px;
    border-bottom: 1px dotted #8DC26F;
	cursor: pointer;
}
