.testCardAdder{
	
	cursor: pointer;
	
	background: none;
	border: 2px dotted darkgreen;
		
	display: flex;
	align-items: center;
	justify-content: center;
	
	box-shadow: none;
}

.testCardAdder:hover{
	background: white;
}

#add-button{
	
	height: 300px;
	cursor: pointer;
	
}

#language-pool{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
	width: auto;
	min-height: 39px;
	
}

.language{
	min-width: 110px;
	max-width: 200px;
	height: 25px;
	padding: 5px;
	background: #AAAAAA;
	border-radius: 3px;
	
	text-align: center;
	vertical-align: center;
	line-height: 25px;
	
	color: white;
	margin: 2px;
	
	cursor: pointer;
	
	font-weight: normal;
}
.language:hover{
	background: #4CAF50
}

.remove-language{
	min-width: 110px;
	max-width: 200px;
	height: 25px;
	padding: 5px;
	background: #FF3232;
	border-radius: 3px;
	
	text-align: center;
	vertical-align: center;
	line-height: 25px;
	
	color: white;
	margin: 2px;
	
	cursor: pointer;
	
	font-weight: normal;
}
.remove-language:hover{
	background: #d22222;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: #71BA62 !important;
	border: white !important;
}

#language-container input, textarea{
	font-family: monospace !important;
	font-size: 14px;
	height: auto;
}
