nav.problems {
    float: left;
    position: fixed;
    overflow-x: scroll;
    border-right: 1px solid grey;
    background-color: #8DC26F;
    color: white;
    height: 100vh;
    width: 200px;

    -webkit-box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.64);
    -moz-box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.64);
    box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.64);
}

nav > ul {
    list-style: none;
    font-family: sans-serif;
    line-height: 25pt;
    font-size: 14pt;
    text-align: left;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav > ul > li {
    border-bottom: 1px dotted grey;
    padding: 3px;
}

nav > ul > li:hover {
    background-color: #76b852;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

#problemSpec {
    margin-top: 50px;
    margin-left: 200px;
    width: calc(100% - 200px);
    padding: 10px;
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-family: monospace;
    font-size: 10pt;
}

#file-upload {
    margin-top: 10px;
    position: absolute;
    opacity: 0;
    /* top: 0;
    right: 0; */
    width: 100px;
    height: 30px;
}

#file-upload-wrapper {
    display: inline-block;
}

#editor { 
    width: calc(100% - 50px);
    height: 300px;
    border-top: 2px solid grey;	
    border-right: 2px solid grey;
    border-left: 2px solid grey;
	border-bottom: 1px solid grey;
	
    padding: 10px;
    font-family: monospace;
    font-size: 10pt;
}

#editor-handle {
	width: calc(100% - 30px); 
	height: 12px; 
	background: #e8e8e8;
	cursor: s-resize;
	
	border-left: 2px solid grey;
	border-right: 2px solid grey;
	border-bottom: 2px solid grey;
}

#submissionForm{
	margin-top: 10px;
}

#markdown-collapser{
	width: calc(100% - 27px);
	background: lightgrey;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	color: white;
	font-size: 10pt;
	
	cursor: pointer;
}

#markdown-collapser:hover{
	background: grey;
}

/* handle on the bottom */
.ui-resizable-s {
    height: 30px;	
}