{% block leaderboard_html %}
<div class="card" id="leaderboard-card" style="flex-grow: 12; padding: 5px; padding-top: 10px; height: max-content;">

	{% if elevatedUser %}
	<div id="scoreboard-button" style="position: absolute; right: 8px; top: 8px; height: 10px; line-height: 10px;"></div>
	{% endif %}
	
	<div id="leaderboard-heading">
		<h2>Leaderboard</h2>
	</div>
	
	<div id="leaderboard-container" class="card-contents">
		<table id="leaderboard">
		
			
		
		
		</table>
	</div>
</div>
{% endblock %}