.card {
	background-color: white;
	margin: 20px;
	margin-bottom: 5px;
	position: relative;
	-webkit-box-shadow: 3px 3px 10px -4px rgba(0, 0, 0, 0.64);
	-moz-box-shadow: 3px 3px 10px -4px rgba(0, 0, 0, 0.64);
	box-shadow: 3px 3px 10px -4px rgba(0, 0, 0, 0.64);
	border-radius: 5px;
}

.card-parallel-main {
	flex-grow: 3;
}

.card-contents {
	margin-top: 10px;
	padding: 10px;
}

.parallel-cards>.card {
	width: auto;
	min-width: 200px;
	left: auto;
	transform: none;
}

.colored {
	background: #92d884;
	min-height: 100px;
}

.contest-card {
	max-width: calc(25% - 61px) !important;
	min-width: calc(25% - 61px) !important;
	margin-left: 10px;
	margin-right: 10px;
}

.contest-card .test-case label {
	font-weight: bold;
	font-size: 0.9em;
}

.contest-card .test-case {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contest-card .test-case textarea {
	width: 100%;
}

#testcase-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-right: 20px;
	margin-left: 20px;
}

#testcase-cards form .file {
	width: 100%;
}

.parallel-cards>.testcase-card {
	width: 42%;
}

.parallel-cards>.section-card {
	width: 28.68%;
}

@media only screen and (max-width: 1460px) {
	.parallel-cards>.testcase-card {
		width: 100%;
	}
	.parallel-cards>.section-card {
		width: 41.77%;
	}
}

.serial-cards {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.parallel-cards {
	min-width: 870px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	position: relative;
	background: none;
}

.btn-close {
	padding: 10px;
	cursor: pointer;
	background-color: #003963;
	color: #fdb813;
	border-radius: 5px 5px 0 0;
}

.headerLink:hover {
	text-decoration: underline;
}

.sectionHeaderContainer {
	padding: 10px;
	background-color: #003963;
	color: #fdb813;
	text-align: center;
	border-radius: 5px;
}

.sectionHeader {
	margin: 0;
	font-size: 28pt;
	font-weight: bold;
}

.sectionSubHeader {
	margin: 0;
	font-size: 22pt;
	font-weight: bold;
}

.assignmentContainer {
	padding: 10px;
	font-size: 18pt;
}

.assignmentHeader {
	margin: 5px;
}

.assignmentInfo {
	border: 2px #003963 solid;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}

.assignmentLink {
	text-decoration: underline;
	color: #003963;
}

@media (max-width: 1192px) {
	.parallel-cards>.testcase-card {
		width: 100%;
	}
	.parallel-cards>.section-card {
		width: 45%;
	}
}

@media (max-width: 1192px) {
	.parallel-cards {
		flex-grow: 1;
	}
	.parallel-cards>.card {
		width: 100%;
	}
	.serial-cards {
		flex-direction: row;
		width: 100%;
	}
	.serial-cards>.card {
		flex-grow: 1;
	}
}