.tabs {
    padding: 10px;
    border: 1px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.ui-tabs .ui-tabs-nav li, .ui-tabs .ui-tabs-nav li input{
	cursor: pointer;
	top: 4px;
}

.ui-tabs li a .tab-filename{
	background: transparent;
	border: 0px solid black;
	font-family: monospace;
	color: black;
	outline: none;
	
}

.ui-tabs .ui-tabs-nav {
	border: none;
	background: transparent;
	padding: 0px;
}

#file-markers {
	border: none;
	background: transparent;
	padding: 0px;
}

.ui-tabs li a .tab-filename::selection{
	background: blue;
}

input[type=text] {
	width: auto;
}