{% if is_granted("ROLE_SUPER") %}
	{# edit button #}
	<div class="floating_controls">
		<a href="{{path('section_edit', {'sectionId': section.id})}}">
			<button class="floating_button">Edit Section</button>
		</a>
	</div>

	{% block scripts %}
		<script src="{{ asset('js/floating-control.js') }}"></script>
	{% endblock %}
{% endif %}