<div class="topnav" id="myTopnav">
	<a href="{{path('user_logout')}}" class="navbuttons">Logout</a>
	<a href="" class="navbuttons">Admin</a>
    <a href="{{path('homepage')}}" id="logo"><img src="{{asset('logo1.png')}}" title= "Gradel, Gradel, Gradel, we made it out of code!" id="logo" alt="Gradel"></a>
</div>